*{
	margin: 0px;
	padding: 0px;
}

body{
	background: orange;


}

nav{
	margin: 10px 0px;
}


header{
	height: 100px;
	width: 100%;
	background-color: darkgray;
	margin-bottom: 10px;

}

footer{
	background-color: darkgray;
	height: 50px;
	width: 100%;
	margin-top: 10px;

}
footer p{
	text-align: center;
	line-height: 50px;
}